<h1>JK & Azeem Craigslist</h1>

<h2>Please fill in the form.</h2>

<p>FORM</p>
<br>
  <form action="/create_post" method="post">
    <p>Name: <input type="text" name="name"></p>
    <p>Phone number: <input type="text" name="phone"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Title:<input type="text" name="title"></p>
    <textarea cols="60" rows="10" name="desc">Please describe what you are selling.</textarea>
<br>
    Please select from the following categories.<br>
    <select name="category">
      <option>Car</option>
      <option>House</option>
      <option>Music Instruments</option>
    </select>
      <br>
      <br>
      <input type="submit" value="Submit">

      </form>
      <BR>